@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
	outline: none;
	overflow-wrap: break-word;
}
$colorBlack: #000;
$colorBlackOpacityOne: rgba(0, 0, 0, 0.1);
$colorBlackOpacityTwo: rgba(0, 0, 0, 0.5);
$colorWhite: #fff;

$backgroundWrapper: rgb(173, 215, 240);
$backgroundModalWrapper: rgba(40, 106, 145, 0.5);

$backgroundtoDoItem: rgb(173, 215, 235);
$backgroundModal: rgb(173, 215, 240);
$borderModal: rgba(16, 46, 63, 0.6);
$boxshadowtoDoItem: rgb(104, 181, 226);

$backgroundInput: rgb(191, 223, 241);
$backgroundModalInput: rgb(211, 230, 241);
$borderInput: rgb(94, 170, 214);
$borderModalInput: rgba(43, 100, 133, 0.6);
$colorTextInputPlaceholder: rgba(42, 75, 94, 0.7);

$backgroundBtnEnter: rgb(127, 183, 216);
$colorTextBtnEnter: #464646;
$backgroundHoverBtnEnter: rgb(169, 204, 224);
$colorTextHoverBtnEnter: #272727;
$backgroundActiveBtnEnter: rgb(102, 163, 199);

$backgroundBtnEmptyTrash: rgb(169, 160, 221);
$colorTextBtnEmptyTrash: #464646;
$backgroundHoverBtnEmptyTrash: rgb(195, 190, 221);
$colorTextHoverBtnEmptyTrash: #272727;
$backgroundActiveBtnEmptyTrash: rgb(134, 120, 218);

$backgroundBtnEdit: rgb(130, 212, 223);
$colorTextBtnEdit: #464646;
$backgroundHoverBtnEdit: rgb(161, 217, 224);
$colorTextHoverBtnEdit: #272727;
$backgroundActiveBtnEdit: rgb(94, 190, 202);

$backgroundBtnDelete: rgb(226, 160, 210);
$colorTextBtnDelete: #464646;
$backgroundHoverBtnDelete: rgb(224, 183, 214);
$colorTextHoverBtnDelete: #272727;
$backgroundActiveBtnDelete: rgb(218, 127, 195);

$backgroundBtnNext: rgb(117, 219, 114);
$colorTextBtnNext: #464646;
$backgroundHoverBtnNext: rgb(170, 214, 168);
$colorTextHoverBtnNext: #272727;
$backgroundActiveBtnNext: rgb(77, 214, 72);

$backgroundBtnRestore: rgb(221, 172, 109);
$colorTextBtnRestore: #464646;
$backgroundHoverBtnRestore: rgb(219, 184, 138);
$colorTextHoverBtnRestore: #272727;
$backgroundActiveBtnRestore: rgb(221, 152, 62);

$backgroundBtnFinish: rgb(121, 133, 199);
$colorTextBtnFinish: #464646;
$backgroundHoverBtnFinish: rgb(147, 155, 197);
$colorTextHoverBtnFinish: #272727;
$backgroundActiveBtnFinish: rgb(83, 100, 196);

$backgroundBtnClose: rgb(223, 155, 155);
$colorTextBtnClose: #464646;
$backgroundHoverBtnClose: rgb(223, 181, 181);
$colorTextHoverBtnClose: #272727;
$backgroundActiveBtnClose: rgb(216, 116, 116);

$backgroundBtnSubmit: rgb(98, 182, 231);
$colorTextBtnSubmit: #464646;
$backgroundHoverBtnSubmit: rgb(133, 192, 226);
$colorTextHoverBtnSubmit: #272727;
$backgroundActiveBtnSubmit: rgb(73, 172, 230);
body {
	background-color: $backgroundWrapper;
}
input {
	cursor: pointer;
}
button {
	cursor: pointer;
	text-transform: uppercase;
	font-family: "Raleway";
	font-weight: 700;
}
.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
}
.header {
	padding: 60px 0 10px;
	&__tittle {
		margin-bottom: 15px;
		text-align: center;
		font-family: "Corinthia";
		font-size: 100px;
		line-height: 106px;
	}
	&__form {
		display: flex;
		margin-bottom: 50px;
	}
	&__itemInput {
		max-width: 435px;
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-right: 52px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__label {
		margin-bottom: 15px;
		font-size: 25px;
		font-weight: 600;
		line-height: 28px;
	}
	&__input {
		width: 100%; //to fix
		padding: 15px 10px;
		border: 1px solid $borderInput;
		border-radius: 10px;
		background-color: $backgroundInput;
		font-size: 20px;
		line-height: 24px;
		&::placeholder {
			font-size: 20px;
			color: $colorTextInputPlaceholder;
		}
	}
	&__btnEnter {
		max-width: 435px;
		width: 100%;
		padding: 15px 0;
		font-size: 24px;
		line-height: 28px;
		color: $colorTextBtnEnter;
		border: 1px solid $colorBlackOpacityTwo;
		border-radius: 10px;
		background-color: $backgroundBtnEnter;
		transition: all 0.3s linear;
		&:hover {
			color: $colorTextHoverBtnEnter;
			background-color: $backgroundHoverBtnEnter;
			box-shadow: 0 1px 2px $colorBlackOpacityOne;
		}
		&:active {
			color: $colorBlack;
			background-color: $backgroundActiveBtnEnter;
			box-shadow: 0 3px 5px $backgroundActiveBtnEnter inset;
		}
	}
}
.wrapper {
	padding: 15px 0;
	&__toDoList {
		max-width: 100%;
		width: 100%;
		display: flex;
		flex-direction: row;
		column-gap: 30px;
	}
	&__toDoListItem {
		max-width: calc(100% / 4);
		width: 100%;
	}
	&__toDoListTittle {
		margin: 0 auto 10px;
		padding: 10px 0;
		text-align: center;
		text-transform: uppercase;
		font-size: 26px;
		line-height: 30px;
		font-weight: 600;
	}
	&__deletedSection {
		margin-bottom: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		text-transform: uppercase;
		font-size: 26px;
		line-height: 30px;
		font-weight: 600;
	}
	&__toDoListTittleDeleted {
		text-align: center;
		text-transform: uppercase;
		font-size: 26px;
		line-height: 30px;
		font-weight: 600;
	}
	&__emptyTrashBtn {
		max-width: 175px;
		width: 100%;
		padding: 10px 0;
		font-size: 18px;
		line-height: 22px;
		color: $colorTextBtnEmptyTrash;
		border: 1px solid $colorBlackOpacityTwo;
		border-radius: 10px;
		background-color: $backgroundBtnEmptyTrash;
		transition: all 0.3s linear;
		&:hover {
			color: $colorTextHoverBtnEmptyTrash;
			background-color: $backgroundHoverBtnEmptyTrash;
			box-shadow: 0 1px 2px $colorBlackOpacityOne;
		}
		&:active {
			color: $colorBlack;
			background-color: $backgroundActiveBtnEmptyTrash;
			box-shadow: 0 3px 5px $backgroundActiveBtnEmptyTrash inset;
		}
	}
	&__toDo {
		padding: 10px 0;
		max-width: 100%;
		width: 100%;
		display: flex;
		column-gap: 45px;
		row-gap: 25px;
		flex-wrap: wrap;
	}
	&__card {
		padding: 10px;
		max-width: 325px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 10px;
		background-color: $backgroundtoDoItem;
		box-shadow: 5px 5px 15px 5px $boxshadowtoDoItem;
	}
	&__tittleName {
		margin-bottom: 5px;
		font-size: 22px;
		font-weight: 600;
		line-height: 26px;
	}
	&__tittle {
		margin-bottom: 15px;
		font-size: 22px;
		line-height: 26px;
	}
	&__descriptionName {
		margin-bottom: 5px;
		font-size: 22px;
		font-weight: 600;
		line-height: 26px;
	}
	&__description {
		margin-bottom: 15px;
		font-size: 20px;
		line-height: 24px;
	}
	&__editAndDeleteBtns {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	&__btnEdit {
		max-width: 150px;
		width: 100%;
		padding: 15px 0;
		font-size: 20px;
		line-height: 24px;
		color: $colorTextBtnEdit;
		border: 1px solid $colorBlackOpacityTwo;
		border-radius: 10px;
		background-color: $backgroundBtnEdit;
		transition: all 0.3s linear;
		&:hover {
			color: $colorTextHoverBtnEdit;
			background-color: $backgroundHoverBtnEdit;
			box-shadow: 0 1px 2px $colorBlackOpacityOne;
		}
		&:active {
			color: $colorBlack;
			background-color: $backgroundActiveBtnEdit;
			box-shadow: 0 3px 5px $backgroundActiveBtnEdit inset;
		}
	}
	&__btnDelete {
		max-width: 150px;
		width: 100%;
		padding: 15px 0;
		font-size: 20px;
		line-height: 24px;
		color: $colorTextBtnDelete;
		border: 1px solid $colorBlackOpacityTwo;
		border-radius: 10px;
		background-color: $backgroundBtnDelete;
		transition: all 0.3s linear;
		&:hover {
			color: $colorTextHoverBtnDelete;
			background-color: $backgroundHoverBtnDelete;
			box-shadow: 0 1px 2px $colorBlackOpacityOne;
		}
		&:active {
			color: $colorBlack;
			background-color: $backgroundActiveBtnDelete;
			box-shadow: 0 3px 5px $backgroundActiveBtnDelete inset;
		}
	}
	&__btnNext {
		display: block;
		margin-left: auto;
		padding: 10px;
		max-width: 80px;
		width: 100%;
		color: $colorTextBtnNext;
		border: 1px solid $colorBlackOpacityTwo;
		border-radius: 20px;
		background-color: $backgroundBtnNext;
		transition: all 0.3s linear;
		&:hover {
			color: $colorTextHoverBtnNext;
			background-color: $backgroundHoverBtnNext;
			box-shadow: 0 1px 2px $colorBlackOpacityOne;
		}
		&:active {
			color: $colorBlack;
			background-color: $backgroundActiveBtnNext;
			box-shadow: 0 3px 5px $backgroundActiveBtnNext inset;
		}
	}
	&__btnRestore {
		display: block;
		margin-left: auto;
		padding: 10px;
		max-width: 100px;
		width: 100%;
		color: $colorTextBtnRestore;
		border: 1px solid $colorBlackOpacityTwo;
		border-radius: 20px;
		background-color: $backgroundBtnRestore;
		transition: all 0.3s linear;
		&:hover {
			color: $colorTextHoverBtnRestore;
			background-color: $backgroundHoverBtnRestore;
			box-shadow: 0 1px 2px $colorBlackOpacityOne;
		}
		&:active {
			color: $colorBlack;
			background-color: $backgroundActiveBtnRestore;
			box-shadow: 0 3px 5px $backgroundActiveBtnRestore inset;
		}
	}
	&__modalGeneralWrapper {
		display: none;
	}
	&__modalWrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $backgroundModalWrapper;
	}
	&__modal {
		position: relative;
		max-width: 500px;
		width: 100%;
		padding: 100px 30px 50px;
		border: 2px solid $borderModal;
		border-radius: 10px;
		background-color: $backgroundModal;
	}
	&__modalForm {
		display: flex;
		flex-direction: column;
	}
	&__modalItem {
		max-width: 100%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
	}
	&__modalLabel {
		padding: 15px 0;
		font-size: 20px;
		line-height: 24px;
	}
	&__modalInputTittle {
		max-width: 280px;
		width: 100%;
		padding: 15px 10px;
		border: 1px solid $borderModalInput;
		border-radius: 10px;
		background-color: $backgroundModalInput;
		font-size: 16px;
		line-height: 20px;
		&::placeholder {
			font-size: 16px;
			line-height: 20px;
		}
	}
	&__modalInputDescription {
		max-width: 280px;
		width: 100%;
		padding: 15px 10px;
		border: 1px solid $borderModalInput;
		border-radius: 10px;
		background-color: $backgroundModalInput;
		font-size: 16px;
		line-height: 20px;
		&::placeholder {
			font-size: 16px;
			line-height: 20px;
		}
	}
	&__roundButton {
		position: absolute;
		top: 15px;
		right: 15px;
		width: 40px;
		height: 40px;
		border: 1px solid $colorBlackOpacityTwo;
		border-radius: 15px;
		background-color: $backgroundBtnClose;
		color: $colorTextBtnClose;
		transition: all 0.3s linear;
		&:hover {
			color: $colorTextHoverBtnClose;
			background-color: $backgroundHoverBtnClose;
			box-shadow: 0 1px 2px $colorBlackOpacityOne;
		}
		&:active {
			color: $colorBlack;
			background-color: $backgroundActiveBtnClose;
			box-shadow: 0 0 3px $backgroundActiveBtnClose inset;
		}
	}
	&__submitButton {
		display: block;
		margin: 30px auto 0;
		padding: 15px;
		max-width: 200px;
		width: 100%;
		border: 1px solid $colorBlackOpacityTwo;
		border-radius: 10px;
		background-color: $backgroundBtnSubmit;
		color: $colorTextBtnSubmit;
		font-size: 20px;
		line-height: 24px;
		transition: all 0.3s linear;
		&:hover {
			color: $colorTextHoverBtnSubmit;
			background-color: $backgroundHoverBtnSubmit;
			box-shadow: 0 1px 2px $colorBlackOpacityOne;
		}
		&:active {
			color: $colorBlack;
			background-color: $backgroundActiveBtnSubmit;
			box-shadow: 0 3px 5px $backgroundActiveBtnSubmit inset;
		}
	}
	&__inProgress {
		padding: 10px 0;
		max-width: 100%;
		width: 100%;
		display: flex;
		column-gap: 45px;
		row-gap: 25px;
		flex-wrap: wrap;
	}
	&__done {
		padding: 10px 0;
		max-width: 100%;
		width: 100%;
		display: flex;
		column-gap: 45px;
		row-gap: 25px;
		flex-wrap: wrap;
	}
	&__deleted {
		padding: 10px 0;
		max-width: 100%;
		width: 100%;
		display: flex;
		column-gap: 45px;
		row-gap: 25px;
		flex-wrap: wrap;
	}
}
